/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#main {
    
}

#header {
    position: fixed;
    width: 100%;
    height: 46px;
    background-image: url(/sk_tet_ghoststory_2025/assets/img/bg-nav.png);
    fill-opacity: 0.8;
    z-index: 1;
}

#header .nav {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}

#header .nav li {
    position: relative;
    float: left;
    height: 100%;
    line-height: 100%;
    padding: 0 14px;
    list-style: none;
}

#header .nav a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav img {
    display: flex;
}

.nav .img_logo {
    width: 158px; 
}

.nav .img_18plus {
    margin-top: 2px;
    width: 110px;
}

.nav .nav_language > a {
    border: 1px solid #fff;
    border-radius: 22px;
    padding: 4px 8px;
    text-align: center;
}

/* Content */
#content {

}

.content-section {
    position: relative;
    width: 100%;
    height: auto;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
    
}

.img-title-section img {
    width: 424px;
    margin-top: 40px;
    margin-left: 144px;
}

.container-gacha {
    background: url(/sk_tet_ghoststory_2025/assets/img/bg-lixi.png) no-repeat left ;
    background-size:contain;
    padding: 20px;
    border-radius: 16px;
    max-width: 600px;
    margin: 40px auto;
}

.lucky-bags {
    display: flex;
    justify-content: left;
    margin: 20px 0;
}

.lucky-bag {
    text-align: center;
}

.lucky-bag1 h3 {
    background: url(/sk_tet_ghoststory_2025/assets/img/1lixi.png) no-repeat center;
    background-size: contain;
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

.lucky-bag5 h3 {
    background: url(/sk_tet_ghoststory_2025/assets/img/5lixi.png) no-repeat center;
    background-size: contain;
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

.lucky-bag button {
    background: #ff9800;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.lucky-bag button:hover {
    background: #fb8c00;
}

.status {
    margin: 20px 0;
    font-size: 18px;
    color: #d32f2f;
    text-align: center;
}

.options {
    margin: 20px 0;
    text-align: center;
}

.options button {
    background: #ff9800;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.options button:hover {
    background: #fb8c00;
}









