/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
    1. Từ ngoài vào trong.
    2. Từ trên xuống dưới.
    3. Tổng quan đến chi tiết.
*/

/* 
    1. Vị trí
    2. Kích thước (width, height)
    3. Màu sắc
    4. Kiểu dáng (Kiểu chũ, hình vuông,...)
*/

.clear{
    clear: both;
}

.text-white{
    color: #fff !important;
}

#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46.5px;
    background-color: #000;
    z-index: 1;
}

#nav .subnav {
    list-style-type: none;
}

#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
}


#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding : 0 24px;
    display: block;
    
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    background-color: #fff;
    top : 100%;
    left: 0;
    min-width: 160px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}

#nav .subnav a {
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

/* #nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
} */

#header .search-btn{
    float: right;
    
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46.5px;
    padding: 0 21px ;
}


#slider {
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background: url("/assets/img/slider/slider1.jpg") top center / cover no-repeat;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 400px;
}

#slider .text-content {
    position: absolute;
    bottom: 0;   
    padding: 32px 16px;  
}

#slider .text-heading{
    margin: 10px 0;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 24px;
}

#slider .text-description{
    margin: 15px 0;
    font-family: "Lato", sans-serif;
    font-size: 15px;
}
#content {

}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    margin: 10px 0;
}

#content .section-sub-heading{
    font-size: 15px;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6;
    text-align: center;
    
}

#content .about-text{
    font-size: 15x;
    text-align: justify;
    margin: 15px 0;
}

#content .member-list{
    padding: 32px 0;
}

#content .member-item{
    float:left;
    width: calc(100% / 3);
    text-align: center;
}

#content .member-name{
    font-size: 15px;
    margin: 15px 0;
}

#content .member-img{
    width: 154px;
    border-radius: 4px;
}
    

 /* Tout section */
 /* Tickets */
 #content .tour-section{
    background-color: black;
 }

 #content .tickets-list{
    background-color: #fff;
    list-style: none;
 }

 #content .tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    color: #757575;
    border-bottom: 1px solid #ddd;
 }

 #content .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px
 }

 #content .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius: 50%;
    color: #FFFF;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
 }

 /* Places */
 #content .place-list {
    padding: 32px 0;
    font-size: 15px;
    margin-left: -8px;
    margin-right: -8px;
 }
 #content .place-item {
    float: left;
    width: calc(100% / 3);
    padding: 0 8px;
 }   
 #content .place-img {
    width: 100%;
    display: block;
 }

 #content .place-img:hover{
    opacity: 0.6;
 }

 #content .place-body {
    background-color: #FFFF;
    padding: 0.15px 16px;
    font-size: 15px;
 }
 #content .place-heading {
    margin: 15px 0;
    font-size: 15px;
 }
 #content .place-time{
    margin: 15px 0;
    color: #757575;
 }
 #content .place-desc {
    margin: 15px 0;
    line-height: 1.4;
 }
 #content .place-buy-btn {
    background-color: #000;
    color: #FFFF;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 16px;
    padding: 8px 16px;
    border: none;
}

#content .place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}



#footer {
    
}

/* Modal Tickets */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
    
}


.modal.open{
    display: flex;
}

.modal-container{
    background: #FFFF;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;  
    /* Chưa chạy được animation */
}

.modal-header{
    background: #009688;
    height: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 16px;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon{
    padding-right: 16px;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    color: #fff;
    cursor: pointer;
    
}

.modal-close:hover{
   background: #ccc;
   color: #000;
}


/* Modal body */
.modal-body{
    padding: 16px;
    height: 250px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
    
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 16px;
}

#buy-tickets {
    background: #009688;
    width: 100%;
    font-size: 15px;
    color: #FFFF;
    padding: 16px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

#buy-tickets:hover {
    background: #ccc;
    color: #000;
}

/* Modal footer */
.modal-footer {
    width: 900px; 
    height: 40px;
    padding: 0 16px;
}

.modal-help {
    display: flex;
    font-size: 15px;
    color: #000;
    float: right;
    /* margin-right: 4px; */
}

.modal-footer a {
    margin: 0 3px;
    color: #2196F3;
}

@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}



